/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F55A5A;
  padding: .75em;
  text-align: center;
  color: #fff;
}

.header > h3 {
  margin: .5em;
}

/* Card */

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.card-container {
  display: flex;
}

.location-details {
  display: flex;
  align-items: center;
}

/* Pin image */
.location-details > img {
  max-width: 20px;
}