/* ---------- Header ---------- */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F55A5A;
  padding: .75em;
  text-align: center;
  color: #fff;
}

.header > h3 {
  margin: .5em;
}

/* ---------- Card ---------- */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.card-content {
  padding: 1.5em;
}

.location-details {
  display: flex;
  align-items: center;
}

/* Card pin image */
.location-details > img {
  margin-bottom: .25em;
  max-width: 20px;
}

/* Card location title */
.location-details > p {
  margin: 0 .5em;
  letter-spacing: .15em;
}

.location-details > a {
  color: #918E9B;
}

.location-details > a:hover {
  color: blue;
}